<!DOCTYPE html>
<html lang="ZH-ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>

    </style>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <form action="">
            <label for='uid'>账号:</label>
            <!-- trim去除用户输入的前后的空格 -->
            <input type="text" id="uid" v-model.trim="userInfo.uid"> <br />

            <label for='pwd'>密码:</label>
            <input type="password" id="pwd" v-model="userInfo.pwd"> <br />

            性别：
            <label for="sexMan">男</label>
            <input type="radio" name="sex" id="sexMan" value="man" v-model="userInfo.sex">
            <label for="sexWoman">女</label>
            <input type="radio" name="sex" id="sexWoman" value="woman" v-model="userInfo.sex"> <br />

            年龄:
            <!-- 第一个number:要求用户输入数字 -->
            <!-- 第二个number:vue提供,会将用户输入的类型转换成数字类型,而不是默认的字符串 -->

            <input type="number" v-model.number="userInfo.age"> <br /> 

            爱好：
            <label for="hobbyStu">学习</label>
            <input type="checkbox" name="" id="hobbyStu" v-model="userInfo.hobby" value="学习">
            <label for="hobbyPlay"> 打游戏</label>
            <input type="checkbox" name="" id="hobbyPlay" v-model="userInfo.hobby" value="打游戏">
            <label for="hobbyEat"> 吃饭</label>
            <input type="checkbox" name="" id="hobbyEat" v-model="userInfo.hobby" value="吃饭"> <br />


            所属校区：
            <!-- 下拉框只需要把v-model写在最外层的select元素标签上 -->
            <select name="" id="" v-model="userInfo.city">
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="shenzhen">深圳</option>
            </select> <br />

            其他信息：
            <!-- lazy:懒收集,不是实时监测减少内存占用；失去焦点的时候才收集 -->
            <textarea name="" id="" cols="30" rows="10" v-model.lazy="userInfo.other"></textarea> <br />

            <input type="checkbox" name="" id="" v-model="userInfo.agree">阅读并接受<a href="#">用户协议</a> <br />

            <!-- <button type="button">提交</button> -->
            <button type="submit" @click.prevent="demo">提交</button>


        </form>
    </div>
    <!-- Vue实例 -->
    <script>
        new Vue({
            el: "#root",
            data: {
                userInfo: {
                    uid: '',
                    pwd: '',
                    age: 12,
                    sex: '',
                    // 多选框需要把对应的v-model的属性写成数组
                    hobby: [],
                    city: 'beijing',
                    other: '',
                    agree: false
                }

            },
            methods: {
                demo() {
                    // 点击提交按钮后输出全部数据的JSON字符串格式数据
                    // 一般不会直接访问this._data
                    console.log(JSON.stringify(this.userInfo));
                }


            }
        });
    </script>
</body>

</html>