<!DOCTYPE html>
<html lang="ZH-ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"> <br />
        名：<input type="text" v-model="lastName"> <br />

        <!-- 如果以后业务更多,那么这里要写的东西更加复杂，不推荐 -->
        全名:<span>{{firstName.slice(0,3)}}-{{lastName}}</span>

    </div>
    <script>
        new Vue({
            el: "#root",
            data: {
                firstName: '张',
                lastName: '三'
            },
            methods: {}
        });
    </script>
</body>

</html>